html,body {
    height: 100%;
    font-size: 1rem;
    
}

.container {
    
}
.gradient {
    background: rgb(33,72,149);

}
.page-header {
    margin-top: 4rem;
    padding-top: 4rem;
    font-family: 'Montserrat', sans-serif;
    color :#fff;
}
.feature {
    color: #fff;
    font-family:'Montserrat', sans-serif ;
}
.feature li{
    list-style-type: bullet;
}

.icon {
    color: #fff;
    height: 5rem;
    width:5rem;
    border-radius: 100%;
    font-size: 1.75rem;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.gallery {
    background-color: whitesmoke;
}
.gallery img {
    border-radius: 10%;
}

.services {
    
    color: #fff;
}
.contact {
    width: 50%;
    margin: auto;
    
    display: flex;
}
.right{
    font-family: 'Montserrat', sans-serif ;
}
.fill {
    height: 50px;
    width: 120%;
}
.femail {
    /* width: 120%; */
}


.footer {
    background:  rgb(33,72,149);
    width: 100%;
    align-items: center;
    justify-content: center;
    display: inline-block;
}

.footer p {
    color: #fff;
    justify-content: center;
    margin: auto;
    padding: 5px;
    width: 50%;
}